<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <nav class="nav">
      <i class="uil uil-bars navOpenBtn"></i>
      <a href="#" class="logo">CodingLab</a>
      <ul class="nav-links">
        <i class="uil uil-times navCloseBtn"></i>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <i class="uil uil-search search-icon" id="searchIcon"></i>
      <div class="search-box">
        <i class="uil uil-search search-icon"></i>
        <input type="text" placeholder="Search here..." />
      </div>
    </nav>

    <div class="form">
      <form action="/createUser" method="POST">
        <fieldset>
          <legend>Form add new users</legend>
          <div class="input-group">
            <label for="email">Email: </label>
            <input type="text" id="email" name="tempEmail" />
          </div>
          <div class="input-group">
            <label for="name">Name: </label>
            <input type="text" id="name" name="tempName" />
          </div>
          <div class="input-group">
            <label for="city">City: </label>
            <input type="text" id="city" name="tempCity" />
          </div>
          <button class="save-btn">Save</button>
          <!-- Nút Save -->
        </fieldset>
      </form>
    </div>
  </body>
</html>
